data/*.json
data/*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
parts/
wheels/
var/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this.txt
pip-download-cache/
*.dist-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage*
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py*
db.sqlite3
db.sqlite3-*

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx stuff:
docs/_build

# PyBuilder stuff:
target/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
venv/
env/

# Editor-related
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

.venv